<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <!--Disini untk berpindah halaman kita pakai url_for-->
        <a href="{{ url_for('home') }}">Home</a> <!--Panggil nama fungsi dari file python nya-->
        <a href="{{ url_for('about') }}">About</a> 
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>

    <!--Agar file main_layout ini bisa di pakai di file about/contact dan lainya-->
    {% block content %}{% endblock %}
</body>
</html>